// Some predefined button sizes algorithm here.
// Please have in mind that it is extremely easy to create your own button sizes.

@mixin bbb_size ($size: 1) {
  $multiplier: $size;
  $padding_y: golden-ratio(7px, $multiplier);
  $padding_x: golden-ratio($padding_y, 1);
  padding: $padding_y $padding_x;
}
